/* TABLE OF CONTENTS

    1. Basic Document Styles
    2. Typography
    3. Button
    4. Game Board
    5. Counter
    6. Media Queries

*/
/* 1. Basic Document Styles
-------------------------------------------------*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {  font-size: 100%;  }

html, body {
  height: 100%;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    /* font-size: 0.875rem; */
    font-size: 1.2rem;
    line-height: 20px;
    line-height: 1.25rem;
    text-align: center;
    /* created liner background using http://www.cssmatic.com/ gradient generator */
    background: rgba(243,226,199,1);
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 14%, rgba(182,141,76,1) 84%, rgba(233,212,179,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(14%, rgba(193,158,103,1)), color-stop(84%, rgba(182,141,76,1)), color-stop(100%, rgba(233,212,179,1)));
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 14%, rgba(182,141,76,1) 84%, rgba(233,212,179,1) 100%);
    background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 14%, rgba(182,141,76,1) 84%, rgba(233,212,179,1) 100%);
    background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 14%, rgba(182,141,76,1) 84%, rgba(233,212,179,1) 100%);
    background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 14%, rgba(182,141,76,1) 84%, rgba(233,212,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
}
h1 {
    font-size: 112px;
    font-size: 7rem;
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 56px;
    font-size: 3.5rem;
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
}
h3 {
    font-size: 45px;
    font-size: 2.8rem;
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 48px;
    line-height: 3rem;
}
h4 {
    font-size: 34px;
    font-size: 2.1rem;
    color: rgba(0,0,0,.54);
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 40px;
    line-height: 2.5rem;
}
h5 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,.87);
    line-height: 32px;
    line-height: 2rem;
}
h6 {
    font-size: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
}
caption {
    font-size: 12px;
    font-size: 0.7rem;
    color: rgba(0,0,0,0.54);
}
button {
    font-weight: 500;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 14px;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.87);
    text-transform: uppercase;
    cursor:pointer;
}
nav {
    background-color: #009688;
    color: #000;
    text-transform: uppercase;
}
i {
    padding: 0 5px;
    color: #fff;   
}
img {  display: block;  }

section {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 1000px;
}
a {  color: #9C27B0;  }

fa { color: #ccc; }

/* 2. Typography 
-------------------------------------------------*/

.primary-color { color: #009688;  }

.primary-color100 {  color: #B2DFDB;  }

.primary-color700 {  color: #00796B;  }

.accent-color {  color: #FF6E40;  }

.accent-100 {  color: #FF9E80;  }

.accent-400 {  color: #FF3D00;  }

.base-black {  color: #000;  }

.text-primary-black {
    color: #000;
    opacity: .87;
}
.secondary-text-black {
    color: #000;
    opacity: .54;
}
.disabled-text-black {
    color: #000;
    opacity: .38;
}
.dividers-black {
    color: #000;
    opacity: .12;
}
.base-white {  color: #FFF;  }

.text-primary-white {  color: #FFF;  }

.secondary-text-white {
    color: #FFF;
    opacity: .70;
}
.disabled-text-white {
    color: #FFF;
    opacity: .30;
}
.dividers-white {
    color: #000;
    opacity: .12;
}
/* 3. Button
-------------------------------------------------*/

.btn {
    min-width: 64px;
    min-height: 36px;
    padding: 0 8px;
    margin: 8px;
    letter-spacing: 1px;
    background-color: #E040FB;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border: 0 none;
    border-radius: none;   
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
    box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
}
.btn-primary {
    color: #ffffff;
    background: #E040FB;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #D500F9;
}
.btn-primary:active,
.btn-primary.active {
    background: #E040FB;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    background: #E040FB;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

/* 4. Game Board 
------------------------ */

.wrapper {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #424242;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

.block {
    width: 45%;
    height: 45%;
    display: inline-block;
}

.block-green {
    background-color: green;
    border-top-left-radius: 100%;
    margin-top: 5%;
}

.block-red {
    background-color: red;
    border-top-right-radius: 100%;
    margin-top: 5%;
}

.block-yellow {
    background-color: yellow;
    border-bottom-left-radius: 100%;
    margin-bottom: 10%;
}

.block-blue {
    background-color: blue;
    border-bottom-right-radius: 100%;
    margin-bottom: 10%;
}

.round_display {
    line-height: 16px;
    min-height: 16px;
}

.btn_menu {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    min-height: 32px;
    min-width: 32px;
    opacity: .6;
    transition: opacity 2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.btn-start-off {
    background-color: red;
    opacity: .6;
    cursor: initial;
}

.btn-start-on {
    opacity: 1;
    background-color: darkgreen;
}

.btn-strict-off {
    background-color: yellow;
    opacity: .6; 
    cursor: initial;    
}

.btn-strict-on {
    background-color: yellow;
    opacity: 1;
}

.menu_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    z-index: 5;
    margin-top: -25%;
    margin-left: -25%;
    box-shadow: 0 0 0 25px #424242;
    background-color: #fff;
    border-radius: 50%;
}


.button_wrapper {
    width: 45%;
    display: inline-block;
}

.title{
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 5px;
}

.slider {
    display: inline-block;
    width: 30px;
    height: 20px;
    vertical-align: bottom;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background-color: blue;
    transition: all .5s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slider-button-off {
    margin-right: -30px;
    
}

.slider-button-on {
    margin-left: -40px;
    width: 50px;
}

.power_button {
    display: inline-block;
    text-transform: uppercase;
}

/* 5. Counter 
The following code is from http://tutorialzine.com/2013/06/digital-clock/ by Martin Angelov 
I modified the code for to create a counter. */

/* Clock
-------------*/

#clock {
  position: relative;
  width: 50%;
  height: 25%;
  padding: 10px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

#clock.light {
  background-color: #f3f3f3;
  color:#272e38;
}

#clock:light:after {
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

#clock:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 20px;
  border-radius: 100%;
  left: 50%;
  margin-left: -200px;
  bottom: 2px;
  z-index: -1;
}

#clock .display {
  text-align: center;
  padding: 5px 5px 5px;
  border-radius: 6px;
  position: relative;
  height: 50px;
}

#clock.light .display {
  background-color: #2a020c;
  box-shadow: 0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;
}

/* The Digits
---------------*/

#clock .digits div {
  text-align: left;
  position: relative;
  width: 28px;
  height: 50px;
  display: inline-block;
  margin: 0 4px;
}

#clock .digits div span{
  opacity: 0;
  position: absolute;
  webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

#clock.light .digits div span {
  background-color: #ed4949;
  border-color: #ed4949;
}

#clock .digits div span:before, #clock .digits div span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
}

#clock .digits .d1{			height:3px;width:16px;top:0;left:6px;}
#clock .digits .d1:before{border-width: 0 3px 3px 0;border-right-color:inherit;left: -3px;}
#clock .digits .d1:after{border-width:0 0 3px 3px;border-left-color:inherit;right: -3px;}

#clock .digits .d2{			height:4px;width:16px;top:16px;left:6px;}
#clock .digits .d2:before{	border-width:2px 4px 2px;border-right-color:inherit;left:-8px;}
#clock .digits .d2:after{	border-width:2px 3px 2px;border-left-color:inherit;right:-5px;}

#clock .digits .d3{			height:3px;width:16px;top:35px;left:6px;}
#clock .digits .d3:before{	border-width:3px 3px 0 0;border-right-color:inherit;left:-3px;}
#clock .digits .d3:after{	border-width:3px 0 0 3px;border-left-color:inherit;right:-3px;}

#clock .digits .d4{			width:3px;height:11px;top:4px;left:0;}
#clock .digits .d4:before{	border-width:0 3px 3px 0;border-bottom-color:inherit;top:-3px;}
#clock .digits .d4:after{	border-width:0 0 3px 3px;border-left-color:inherit;bottom:-2px;}

#clock .digits .d5{			width:3px;height:11px;top:4px;right:0;}
#clock .digits .d5:before{border-width: 0px 0px 3px 3px;border-bottom-color:inherit;top:-3px;}
#clock .digits .d5:after{border-width: 3px 0 0 3px;border-top-color:inherit;bottom:-2px;}

#clock .digits .d6{			width:3px;height:11px;top:22px;left:0;}
#clock .digits .d6:before{	border-width:0 3px 3px 0;border-bottom-color:inherit;top:-3px;}
#clock .digits .d6:after{	border-width:0 0 3px 3px;border-left-color:inherit;bottom:-2px;}

#clock .digits .d7{			width:3px;height:11px;top:22px;right:0;}
#clock .digits .d7:before{	border-width:0 0 3px 3px;border-bottom-color:inherit;top:-3px;}
#clock .digits .d7:after{	border-width:3px 0 0 3px;border-top-color:inherit;bottom:-2px;}

/* 1 */

#clock .digits div.one .d5,
#clock .digits div.one .d7{
	opacity:1;
}

/* 2 */

#clock .digits div.two .d1,
#clock .digits div.two .d5,
#clock .digits div.two .d2,
#clock .digits div.two .d6,
#clock .digits div.two .d3{
	opacity:1;
}

/* 3 */

#clock .digits div.three .d1,
#clock .digits div.three .d5,
#clock .digits div.three .d2,
#clock .digits div.three .d7,
#clock .digits div.three .d3{
	opacity:1;
}

/* 4 */

#clock .digits div.four .d5,
#clock .digits div.four .d2,
#clock .digits div.four .d4,
#clock .digits div.four .d7{
	opacity:1;
}

/* 5 */

#clock .digits div.five .d1,
#clock .digits div.five .d2,
#clock .digits div.five .d4,
#clock .digits div.five .d3,
#clock .digits div.five .d7{
	opacity:1;
}

/* 6 */

#clock .digits div.six .d1,
#clock .digits div.six .d2,
#clock .digits div.six .d4,
#clock .digits div.six .d3,
#clock .digits div.six .d6,
#clock .digits div.six .d7{
	opacity:1;
}


/* 7 */

#clock .digits div.seven .d1,
#clock .digits div.seven .d5,
#clock .digits div.seven .d7{
	opacity:1;
}

/* 8 */

#clock .digits div.eight .d1,
#clock .digits div.eight .d2,
#clock .digits div.eight .d3,
#clock .digits div.eight .d4,
#clock .digits div.eight .d5,
#clock .digits div.eight .d6,
#clock .digits div.eight .d7{
	opacity:1;
}

/* 9 */

#clock .digits div.nine .d1,
#clock .digits div.nine .d2,
#clock .digits div.nine .d3,
#clock .digits div.nine .d4,
#clock .digits div.nine .d5,
#clock .digits div.nine .d7{
	opacity:1;
}

/* 0 */

#clock .digits div.zero .d1,
#clock .digits div.zero .d3,
#clock .digits div.zero .d4,
#clock .digits div.zero .d5,
#clock .digits div.zero .d6,
#clock .digits div.zero .d7{
	opacity:1;
}

/* 
End of code from http://tutorialzine.com/2013/06/digital-clock/ by Martin Angelov 
*/

/* 6. Media Queries
------------------------------ */

@media (max-width: 450px) {
    .wrapper {
        width: 300px;
        height: 300px;
    }
    
    .block {
        width: 130px;
        height: 130px;
    }
    
    .menu_wrapper{
        width: 60%;
        height: 60%;
        margin-top: -90px;
        margin-left: -90px;
        box-shadow: 0 0 0 10px #424242;
    }
    
    h4 {
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 400;
        color: rgba(0,0,0,.87);
        line-height: 32px;
        line-height: 2rem;
    }
    
    .block-blue {
        margin-bottom: 5%;
    }
    
    .block-yellow {
        margin-bottom: 5%;
    }
}



